{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'subscribe/css/subscribe.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 text-center">
        <div class="row">
            <div class="col-12">
                <h1 class="my-3">
                    Complete Subscription
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="mt-3">
                    You are subscribing to the {{ package.friendly_name }} for £{{ package.monthly_rate }} a month.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-fluid container-sm subscriptions-container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <p class="pt-3">Fill out the form below to complete your subscription.</p>
                <p class="small text-danger">
                    <i class="fas fa-exclamation-circle"></i> Your card will be charged £{{ package.monthly_rate }} each month after your initial two-week free trial until you cancel. You may cancel your subscription any time.
                </p>
                <form action="{% url 'get_subscription' package.id %}" method="POST" id="subscription-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="px-3 mb-5">
                        <legend class="small w-auto">Customer Information</legend>
                        {{ subscription_form.full_name | as_crispy_field }}
                        {{ subscription_form.email_address | as_crispy_field }}
                        {{ subscription_form.phone_number | as_crispy_field }}
                    </fieldset>
                    <fieldset class="px-3 mb-5">
                        <legend class="small w-auto">Billing Address</legend>
                        {{ subscription_form.cardholder_name | as_crispy_field }}
                        {{ subscription_form.address_line1 | as_crispy_field }}
                        {{ subscription_form.address_line2 | as_crispy_field }}
                        {{ subscription_form.town_or_city | as_crispy_field }}
                        {{ subscription_form.county_or_region | as_crispy_field }}
                        {{ subscription_form.postcode | as_crispy_field }}
                        {{ subscription_form.country | as_crispy_field }}
                        <label for="id-save-member-info" class="form-check-label">
                            Save information to profile
                        </label>
                        <input type="checkbox" name="save_member_info" id="id-save-member-info" checked>
                    </fieldset>
                    <fieldset class="px-3 mb-5">
                        <legend class="small w-auto">Payment Information</legend>
                        <!-- Stripe card element-->
                        <div id="card-element" class="border form-control"></div>
                        <!-- Form errors -->
                        <div class="text-danger pt-2" id="card-errors" role="alert"></div>
                        <!-- Passes client secret to the view and gives us the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-end mb-1">
                            <a href="{% url 'subscribe_page' %}" class="btn bg-white border-dark text-dec-none">Back</a>
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            <button type="submit" class="btn btn-success" id="complete-subscription">Complete Subscription</button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <p class="mb-0 text-danger">
                                <i class="fas fa-exclamation-circle"></i> After your initial free two-week trial, your card will be debited £{{ package.monthly_rate }} each month for this plan.
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="loading-spinner">
            <span class="icon">
                <i class="fas fa-spinner fa-spin fa-3x"></i>
            </span>
        </h1>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'subscribe/js/stripe_elements.js' %}"></script>
{% endblock %}