{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'subscribe/css/subscribe.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="my-5">Confirmation of subscription to {{ request.user.member.subscription_package.friendly_name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="mx-3">Subscription ID: {{ subscription.subscription_id }}</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <a href="{% url 'home' %}" class="btn btn-lg btn-dark text-dec-none">Back to Home Page</a>
            </div>
        </div>
    </div>
{% endblock %}