<form action="{% url 'rate_video' %}" class="rating-form d-inline-flex" method="POST" id="{{ video.id }}">
    {% csrf_token %}
    <button type="submit" id="first-{{ video.id }}" class="rating-button px-1 {% if video.rating >= 0.50 %}rated fas{% else %}far{% endif %} fa-star">
    </button>
    <button type="submit" id="second-{{ video.id }}" class="rating-button px-1 {% if video.rating >= 1.50 %}rated fas{% else %}far{% endif %} fa-star">   
    </button>
    <button type="submit" id="third-{{ video.id }}" class="rating-button px-1 {% if video.rating >= 2.50 %}rated fas{% else %}far{% endif %} fa-star">  
    </button>
    <button type="submit" id="fourth-{{ video.id }}" class="rating-button px-1 {% if video.rating >= 3.50 %}rated fas{% else %}far{% endif %} fa-star">    
    </button>
    <button type="submit" id="fifth-{{ video.id }}" class="rating-button px-1 {% if video.rating >= 4.50 %}rated fas{% else %}far{% endif %} fa-star"> 
    </button>    
</form>
<span>{{ video.rating }}</span>
<div id="rating-confirmation"></div>