<div class="row">
    <div class="col-12">
        <h6>Comments</h6>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <span><small>{{ video.comments.count }} comments</small></span>
        {% if request.user.is_superuser %}
            {% if unapproved_comments %}
                <h6>Comments Pending Approval</h6>
                {% for comment in unapproved_comments %}
                    <div class="card">
                        <p class="small mt-2 ml-2">By {{ comment.user }} on {{ comment.created_on }}</p>
                        <p class="mt-0 ml-2">{{ comment.content }}</p>
                        <p>
                            <a href="{% url 'delete_comment' video.id comment.id %}" class="btn-danger text-dec-none">Reject</a>
                            <a href="{% url 'approve_comment' video.id comment.id %}" class="btn-success text-dec-none">Approve</a>
                        </p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% for comment in comments %}
            <div class="card">
                <p class="small mt-2 ml-2">By {{ comment.user }} on {{ comment.created_on }}</p>
                <p class="mt-0 ml-2">
                    {{ comment.content }}
                    {% if comment.user == request.user or request.user.is_superuser %}
                        <a href="{% url 'update_comment' video.id comment.id %}" class="btn-sm btn-primary text-dec-none text-right">
                            Edit
                        </a>
                        <a href="{% url 'delete_comment' video.id comment.id %}" class="btn-sm btn-danger text-dec-none textleft">
                            Delete
                        </a>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% if new_comment %}
            <div class="card">
                <p>Your comment is awaiting moderation.</p>
            </div>
        {% else %}
            <h6>Add a Comment</h6>
            <form action="{% url 'video_details' video.id %}" method="POST">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button class="btn-lg btn-success" type="submit">Submit Comment</button>
            </form>
        {% endif %}
    </div>
</div>