{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid mt-5 py-3 text-center">
        <div class="row">
            <div class="col-12">
                <h1>Cart</h1>
            </div>
        </div>
        {% if items_in_cart %}
            {% for item in items_in_cart %}
                <div class="row">
                    <div class="col-md-4">
                        <p class="mb-1">{{ item.item.friendly_name }}</p>
                        <p>{% if item.item.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                    </div>
                    <div class="col-md-4">
                        {{ item.item.price }}
                    </div>
                    <div class="col-md-4">
                        {{ item.quantity }}
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-12 col-md-6">
                        <form method="POST" class="quantity-form" action="{% url 'update_cart' item.item_id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrease-qty btn rounded-0" data-item_id="{{ item.item_id }}" id="decrease-qty_{{ item.item_id }}">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <input type="number" class="form-control qty_input" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                <div class="input-group-append">
                                    <button class="increase-qty btn rounded-0" data-item_id="{{ item.item_id }}" id="increase-qty_{{ item.item_id }}">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <a class="update-quantity btn-dark text-white">Update Qty</a>
                    </div>
                    <div class="col-12 col-md-6">
                        <a id="remove_{{ item.item_id }}" class="remove-item btn-lg bg-danger text-white" href="{% url 'remove_item_from_cart' item.item_id %}">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div class="row mt-4">
                <div class="col-12">
                    <h6>Total: £{{ total|floatformat:2 }}</h6>
                    <h6>Delivery: £{% if request.user.member.subscription_package.id == 3 %}0.00{% else %}{{ delivery|floatformat:2 }}{% endif %}</h6>
                    <h4>Total amount due: £{{ grand_total|floatformat:2 }}</h4>
                </div>
            </div>
            {% if free_delivery_gap > 0 %}
                <div class="row">
                    <div class="col-12">
                        <h6>Spend £{{ free_delivery_gap }} more for free delivery.</h5>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="col-12">
                    <span>You don't have any items in your cart.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'shop' %}" class="btn">Continue Shopping</a>
                </div>
            </div>
        {% endif %}
        {% if items_in_cart %}
            <div class="row mt-4">
                <div class="col-md-6">
                    <a href="{% url 'shop' %}" class="btn-lg bg-light text-dec-none text-dark float-right">Continue Shopping</a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'load_checkout' %}" class="btn-lg btn-success text-dec-none float-left">Checkout</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    {% include 'shop/includes/adjust_quantity_script.html' %}
    <script type="text/javascript">
        // Updates item quantity
        $('.update-quantity').click(function(e) {
            var quantity_form = $(this).prev('.quantity-form');
            quantity_form.submit();
        })

        // Removes item from cart and reloads page
        $('.remove-item').click(function(e) {
            var csrfToken = '{{ csrf_token }}';
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('item_size');
            var url = `/cart/remove_item/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
             .done(function() {
                 location.reload();
             });
        })
    </script>
{% endblock %}