{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 py-3 text-center">
        <div class="row">
            <div class="col-12">
                <h1 class="my-3">Cart</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md text-center">
        {% if items_in_cart %}
            <div class="row">
                <div class="col-12">
                    <h4 class="text-left pb-2">Order Preview: {{ count }} item{% if count != 1 %}s{% endif %} in cart.</h4>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="cart-table-heading px-0">Item</th>
                            <th scope="col" class="cart-table-heading px-0"></th>
                            <th scope="col" class="cart-table-heading px-0">Price</th>
                            <th scope="col" class="cart-table-heading px-0">Quantity</th>
                            <th scope="col" class="cart-table-heading px-0">Subtotal</th>
                            <th scope="col" class="cart-table-heading px-0"></th>
                        </tr>
                    </thead>
                    {% for item in items_in_cart %}
                        <tr class="border-dark">
                            <td class="col-md-2 px-0">
                                <p class="mb-1 cart-table-cell">{{ item.item.friendly_name }}</p>
                                <p class="small cart-table-cell">Size: {% if item.item.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                            </td>
                            <td class="col-md-2 px-0 d-none d-md-inline">
                                {% if item.item.image %}
                                    <img src="{{ item.item.image.url }}" alt="{{ item.item.friendly_name }}" class="img-fluid">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.item.friendly_name }}" class="img-fluid">
                                {% endif %}
                            </td>
                            <td class="col-md-2 px-0">
                                <p class="mb-1 cart-table-cell">
                                    {% if request.user.member.subscription_package.id == 3 %}
                                        £{{ item.item.price | calc_discount_price }}
                                    {% else %}
                                        £{{ item.item.price }}
                                    {% endif %}
                                </p>
                            </td>
                            <td class="col-md-3 px-0">
                                <p class="mb-1 cart-table-cell">
                                    <form method="POST" class="quantity-form" action="{% url 'update_cart' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrease-qty btn rounded-0" data-item_id="{{ item.item_id }}" id="decrease-qty_{{ item.item_id }}">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                            <input type="number" class="form-control qty_input" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increase-qty btn rounded-0" data-item_id="{{ item.item_id }}" id="increase-qty_{{ item.item_id }}">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                            {% if item.item.has_sizes %}
                                                <input type="hidden" name="item_size" value="{{ item.size }}">
                                            {% endif %}
                                        </div>
                                    </form>
                                    <a class="update-quantity btn btn-dark text-white mt-1">Update</a>
                                </p>
                            </td>
                            <td class="col-md-2 px-0">
                                <p class="cart-table-cell">
                                    {% if request.user.member.subscription_package.id == 3 %}
                                        £{{ item.item.price | calc_subtotal:item.quantity | calc_discount_price }}
                                    {% else %}
                                        £{{ item.item.price | calc_subtotal:item.quantity }}
                                    {% endif %}
                                </p>
                            </td>
                            <td class="col-md-1 px-0">
                                <a id="remove_{{ item.item_id }}" class="remove-item bg-danger text-white btn-sm" data-item_size="{{ item.size }}">
                                    <i class="fas fa-times" data-bs-toggle="tooltip" title="Remove item {{ item.item.friendly_name }}{% if item.item.has_sizes %} Size {{ item.size|upper }}{% endif %}"></i>
                                </a>
                            </td>
                        </tr>
                        </div>
                    {% endfor %}
                </table>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <h6>Total: £{{ total|floatformat:2 }}</h6>
                    <h6>Delivery: £{% if request.user.member.subscription_package.id == 3 %}0.00{% else %}{{ delivery|floatformat:2 }}{% endif %}</h6>
                    <h4>Total amount due: £{{ grand_total|floatformat:2 }}</h4>
                </div>
            </div>
            {% if not request.user.member.subscription_package.id == 3 %}
                {% if free_delivery_gap > 0 %}
                    <div class="row">
                        <div class="col-12">
                            <h6>Spend £{{ free_delivery_gap }} more for free delivery.</h5>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
            <div class="row">
                <div class="col-12">
                    <span>You don't have any items in your cart.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'shop' %}" class="btn bg-white text-dark border-dark">Continue Shopping</a>
                </div>
            </div>
        {% endif %}
        {% if items_in_cart %}
            <div class="row mt-4">
                <div class="col-md-6 text-md-end">
                    <a href="{% url 'shop' %}" class="btn bg-white text-dark border-dark mb-2">Continue Shopping</a>
                </div>
                <div class="col-md-6 text-md-start">
                    <a href="{% url 'load_checkout' %}" class="btn btn-success text-dec-none">Checkout</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    {% include 'shop/includes/adjust_quantity_script.html' %}
    <script type="text/javascript">
        // Updates item quantity
        $('.update-quantity').click(function(e) {
            var quantity_form = $(this).prev('.quantity-form');
            quantity_form.submit();
        })

        // Removes item from cart and reloads page
        $('.remove-item').click(function(e) {
            var csrfToken = '{{ csrf_token }}';
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('item_size');
            var url = `/cart/remove_item/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'item_size': size};

            $.post(url, data)
             .done(function() {
                 location.reload();
             });
        })
    </script>
{% endblock %}