{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid my-5 py-3 text-center">
        <div class="row">
            <div class="col-12">
                <h1>{{ request.user }}'s Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>My Subscriptions</h2>
            </div>
        </div>
        {% if member.subscription_package %}
            <div class="row">
                <div class="col-12">
                    <span>You are currently to subscribed to the {{ member.subscription_package.friendly_name }} paying {{ member.subscription_package.monthly_rate }} per month.</span>
                    <hr>
                    <a href="{% url 'training_videos' %}" class="btn-lg btn-dark text-dec-none">View Training Videos</a>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12">
                    <span>You do not have any active subscriptions.</span>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}