{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid my-5 py-3 text-center">
        <div class="row">
            <div class="col-12">
                <h1>{{ request.user }}'s Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>My Subscriptions</h2>
            </div>
        </div>
        {% if member.subscription_package %}
            <div class="row">
                <div class="col-12">
                    <span>You are currently to subscribed to the {{ member.subscription_package.friendly_name }} paying {{ member.subscription_package.monthly_rate }} per month.</span>
                    <hr>
                    <a href="{% url 'training_videos' user.id %}" class="btn-lg btn-dark text-dec-none">View Training Videos</a>
                </div>
            </div>
            {% if member.subscription_package.id != 1 %}
                <hr>
                <div class="row">
                    <div class="col-12">
                        <p class="my-5">
                            <a href="" class="btn-lg btn-primary text-dec-none">Get Support</a>
                        </p>
                    </div>
                </div>
                {% if member.subscription_package.id == 3 %}
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <p class="my-3">
                                As a VIP, you get 50% off all items in our store!
                            </p>
                            <hr>
                            <a href="{% url 'shop' %}" class="btn-lg btn-success text-dec-none">Go To Shop</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
            <div class="row">
                <div class="col-12">
                    <span>You do not have any active subscriptions.</span>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}