{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="banner">
        <div class="container text-center">
            <div class="row">
                <div class="col-12">
                    <section class="callout">
                        <h1 class="callout-heading my-5">Personalised training and nutrition plans</h1>
                        <a href="{% url 'subscribe_page' %}" class="btn-dark btn-subscribe uppercase text-decoration-none">Subscribe now</a>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}