/*-- BASE TEMPLATE STYLES --*/

html {
    height: 100%;
}

body {
    font-family: 'RocknRoll One', sans-serif;
    background-color: #fafafa;
}

/*-- navbar components --*/

.navbar-nav .nav-item .nav-link {
    font-family: 'RocknRoll One', sans-serif;
    color: #000000;
}

.nav-link {
    color: #000000;
}

#ui-id-1 {
    z-index: 99999;
    margin-top: 2px;
    border: 1px solid #454545;
}

.cart-preview {
    height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: -130px;
}

.font-size-xs {
    font-size: 0.7rem;
}

/*-- main body --*/

.deals-heading {
    display: none;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px #fafafa;
    font-family: 'RocknRoll One', sans-serif
}

.deals-heading.visible {
    display: block;
}

.uppercase {
    text-transform: uppercase;
}

.page-wrap {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 100vh;
}

main {
    overflow: auto;
    padding-bottom: 100px;
}

.banner {
    height: 100vh;
    background: url('/media/site_hero_image.png') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: -100px;
}

.callout {
    padding-top: 1.8rem;
}

.callout-heading {
    font-size: 5rem;
    text-shadow: 2px 2px #ffffff;
    text-decoration: none;
}

.btn-subscribe {
    padding: 2.2rem;
    border-radius: 0.25rem;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.text-dec-none {
    text-decoration: none;
}

/*-- cart page --*/

.update-quantity,
.remove-item {
    cursor: pointer;
}

/*-- BOOTSTRAP TOASTS --*/

.messages-container {
    position: fixed;
    top: 100px;
    z-index: 99999;
    overflow: visible;
}

/*-- ALLAUTH FORM FORMATTING --*/

.allauth-form-inner-content h1 {
    margin-top: 1rem;
}

.allauth-form-inner-content p {
    margin-top: 0.8rem;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
}

.allauth-form-inner-content p a {
    color: #000;
    text-decoration: none;
}

.allauth-form-inner-content p a:hover {
    text-decoration: underline;
}

.allauth-form-inner-content form {
    width: 50%;
    padding-top: 30px;
    padding-left: 5px;
}

.allauth-form-inner-content input::placeholder {
    color: #676767;
}

.allauth-form-inner-content a,
.allauth-form-inner-content button {
    margin-top: 1rem;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    line-height: 1.5;
}

.allauth-form-inner-content .cancel-logout {
    padding: .65rem 1rem;
    border: 1px solid #000000;
}

/*-- CUSTOM 404/500 PAGES --*/

.error-404-container {
    /* background: url('/media/404_bg_image.png') no-repeat center center fixed; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.error-404-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.error-404-text {
    font-size: 10rem;
}

/*-- PAGE FOOTER --*/

footer {
    position: relative;
    /* bottom: 0;
    left: 0; */
    margin-top: -100px;
    height: 100px;
    clear: both;
    background-color: #454545;
    color: #ffffff;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

footer a {
    color: #ffffff;
}

.copyright-text {
    font-size: 0.8rem;
    letter-spacing: 0.04rem;
}

.copyright-text a:hover {
    color: inherit;
}

footer a:hover {
    color: #afafaf;
}

.social-link {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
}

.social-link:hover {
    text-decoration: none;
}