/*-- BASE TEMPLATE STYLES --*/

html {
    height: 100%;
}

body {
    font-family: 'RocknRoll One', sans-serif;
    background-color: #fafafa;
}

.navbar-nav .nav-item .nav-link {
    font-family: 'RocknRoll One', sans-serif;
    color: #000000;
}

.nav-link {
    color: #000000;
}

.cart-preview {
    margin-left: -130px;
}

.font-size-xs {
    font-size: 0.7rem;
}

.deals-heading {
    display: none;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px #fafafa;
    font-family: 'RocknRoll One', sans-serif
}

.deals-heading.visible {
    display: block;
}

.uppercase {
    text-transform: uppercase;
}

.page-wrap {
    padding-top: 60px;
}

.banner {
    height: 100vh;
    background: url('/media/site_hero_image.png') no-repeat center center fixed;
    background-size: cover;
}

.callout {
    padding-top: 1.8rem;
}

.callout-heading {
    font-size: 5rem;
    text-shadow: 2px 2px #ffffff;
    text-decoration: none;
}

.btn-subscribe {
    padding: 2.2rem;
    border-radius: 0.25rem;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.text-dec-none {
    text-decoration: none;
}

/*-- subscribe page --*/

/*-- BOOTSTRAP TOASTS --*/

.messages-container {
    position: fixed;
    top: 100px;
    z-index: 99999;
    overflow: visible;
}