/*-- BASE TEMPLATE STYLES --*/

html {
    height: 100%;
}

body {
    font-family: 'RocknRoll One', sans-serif;
    background-color: #fafafa;
}

/*-- navbar components --*/

.navbar-nav .nav-item .nav-link {
    font-family: 'RocknRoll One', sans-serif;
    font-size: .75rem;
    color: #000000;
}

.nav-link {
    color: #000000;
}

.shop-search-form {
    position: fixed;
    top: 9px;
    right: 25vw;
    width: 40vw;
    margin-right: -10px;
}

.cart-preview-dropdown {
    position: fixed;
    top: 16px;
    right: 0;
    font-size: 0.5rem;
}

#ui-id-1 {
    z-index: 99999;
    margin-top: 2px;
    border: 1px solid #454545;
}

.cart-preview {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: -130px;
}

.empty-cart {
    margin-left: -130px;
}

.font-size-xs {
    font-size: 0.7rem;
}

/*-- main body --*/

.deals-heading {
    display: none;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px #fafafa;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 1.2rem;
}

.deals-heading.visible {
    display: block;
}

.uppercase {
    text-transform: uppercase;
}

.page-wrap {
    padding-bottom: 60px;
    min-height: 100vh;
}

main {
    overflow: auto;
    padding-bottom: 100px;
}

.banner {
    height: 100vh;
    background: url('/media/site_hero_image.png') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: -100px;
}

.callout {
    padding-top: 1.8rem;
}

.callout-heading {
    text-shadow: 2px 2px #ffffff;
    text-decoration: none;
}

.btn-subscribe {
    padding: 1.5rem;
    border-radius: 0.25rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.text-dec-none {
    text-decoration: none;
}

/*-- cart page --*/

.update-quantity,
.remove-item {
    cursor: pointer;
}

/*-- BOOTSTRAP TOASTS --*/

.messages-container {
    position: fixed;
    top: 100px;
    left: .5rem;
    z-index: 99999;
    overflow: visible;
    width: 95%;
}

.toast-header {
    font-size: 1rem;
}

.toast-body h5 {
    font-size: 0.8rem;
}

/*-- ALLAUTH FORM FORMATTING --*/

.allauth-form-inner-content h1 {
    margin-top: 1rem;
}

.allauth-form-inner-content p {
    margin-top: 0.8rem;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
}

.allauth-form-inner-content p a {
    color: #000;
    text-decoration: none;
}

.allauth-form-inner-content p a:hover {
    text-decoration: underline;
}

.allauth-form-inner-content form {
    width: 50%;
    padding-top: 30px;
    padding-left: 5px;
}

.allauth-form-inner-content input::placeholder {
    color: #676767;
}

.allauth-form-inner-content a,
.allauth-form-inner-content button {
    margin-top: 1rem;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    line-height: 1.5;
}

.allauth-form-inner-content .cancel-logout {
    padding: .65rem 1rem;
    border: 1px solid #000000;
}

/*-- CUSTOM 404/500 PAGES --*/

.error-404-container {
    /* background: url('/media/404_bg_image.png') no-repeat center center fixed; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.error-404-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.error-404-text {
    font-size: 10rem;
}

/*-- PAGE FOOTER --*/

footer {
    position: relative;
    margin-top: -100px;
    height: 120px;
    clear: both;
    background-color: #454545;
    color: #ffffff;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

footer a {
    color: #ffffff;
}

.copyright-text {
    font-size: 0.8rem;
    letter-spacing: 0.04rem;
}

.copyright-text a:hover {
    color: inherit;
}

footer a:hover {
    color: #afafaf;
}

.social-link {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
}

.social-link:hover {
    text-decoration: none;
}

/*-- BACK TO TOP BUTTON --*/

.back-to-top-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 30px;
    right: 25px
}

.back-to-top-link {
    cursor: pointer;
}

/*-- MEDIA QUERIES --*/

@media screen and (min-width: 320px) {
    .messages-container {
        width: 95%;
        left: .25rem;
    }
}

@media screen and (min-width: 375px) {
    .shop-search-form {
        width: 50vw;
    }
}

@media screen and (min-width: 414px) {
    .cart-preview-dropdown {
        top: 12px;
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 576px) {
    .messages-container {
        left: .5rem;
        width: 100%;
    }

    .callout-heading {
        font-size: 2.5rem;
    }

    .btn-subscribe {
        font-size: 1.5rem;
    }

    .toast-header {
        font-size: 1.1rem;
    }

    .toast-body h5 {
        font-size: 1rem;
    }

    footer {
        height: 100px;
    }
}

@media screen and (min-width: 540px) {
    .cart-preview-dropdown {
        top: 8px;
        right: 10px;
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .shop-search-form {
        right: 20vw;
        width: auto;
    }
    
    .cart-preview-dropdown {
        margin-right: -15px;
    }

    .page-wrap {
        padding-top: 60px;
    }

    .callout-heading {
        font-size: 3rem;
    }

    .btn-subscribe {
        padding: 1.8rem;
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 992px) {
    .shop-search-form {
        right: 13.5vw;
    }
    
    .cart-preview-dropdown {
        position: relative;
        right: auto;
        top: auto;
        margin-right: -30px;
    }
    
    .deals-heading {
        font-size: 1.6rem;
    }

    .callout-heading {
        font-size: 5rem;
    }

    .btn-subscribe {
        padding: 2.2rem;
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 0.15rem;
    }
}

@media screen and (min-width: 1100px) {
    .navbar-nav .nav-item .nav-link {
        font-size: 1rem;
    }

    .shop-search-form {
        position: relative;
        top: auto;
        right: auto;
        width: auto;
    }
}

@media screen and (max-width: 991px) {
    .navbar-brand {
        position: fixed;
        top: 8px;
        left: 10vw;
    }
}