{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid mt-5 text-center">
        <div class="row">
            <div class="col-12">
                <h1>{{ request.user }}'s Profile</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 text-center">
        <div class="row my-3 py-3">
            <div class="col-12">
                <p class="mb-2 pb-2">Username: {{ request.user.username }}</p>
                <p class="mb-2 pb-2">E-mail address: {{ request.user.email }}</p>
                <a href="{% url 'update_profile' %}" class="btn-lg btn-primary text-dec-none">Update Details</a>
            </div>
        </div>
        <div class="row my-3 py-3">
            <div class="col-12">
                <h4>Store Order History</h4>
                <div class="table-responsive">
                    <table class="table-sm">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Contents</th>
                                <th>Total</th>
                                <th>Delivering To</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in order_history %}
                                <tr>
                                    <td>
                                        <p>{{ order.order_number }}</p>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul>
                                            {% for item in shop_order.lineitems.all %}
                                                <li class="small">
                                                    {{ item.item.friendly_name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>{{ order.grand_total }}</td>
                                    <td>
                                        <ul class="list-inline list-unstyled text-left pl-3">
                                            <li class="small list-inline-item">{{ order.full_name }}</li>
                                            <li class="small list-inline-item">{{ order.address_line1 }}</li>
                                            {% if order.address_line2 %}
                                                <li class="small list-inline-item">{{ order.address_line2 }}</li>
                                            {% endif %}
                                            <li class="small list-inline-item">{{ order.town_or_city }}</li>
                                            {% if order.county_or_region %}
                                                <li class="small list-inline-item">{{ order.county_or_region }}</li>
                                            {% endif %}
                                            <li class="small list-inline-item">{{ order.postcode }}</li>
                                            <li class="small list-inline-item">{{ order.country }}</li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row my-3 py-3">
            <div class="col-12">
                <a href="{% url 'delete_account' user.id %}" class="btn-lg btn-danger text-dec-none">Delete Account</a>
            </div>
        </div>
    </div>
{% endblock %}