{% if items_in_cart|length > 0 %}
    {% for item in items_in_cart %}
        <a href="{% url 'load_cart' %}" class="dropdown-item">
            <div class="row">
                <div class="col-3 my-1">
                    {% if item.item.image %}
                        <img class="w-100" src="{{ item.item.image.url }}" alt="{{ item.item.friendly_name }}">
                    {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.item.friendly_name }}">
                    {% endif %}
                </div>
                <div class="col-9">
                    <p class="my-0"><small class="font-size-xs">{{ item.item.friendly_name }}</small></p>
                    <p class="my-0 small"><small class="font-size-xs">Size: {% if item.item.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</small></p>
                    <p class="my-0 small text-muted"><small class="font-size-xs">Qty: {{ item.quantity }}</small></p>
                </div>
            </div>
            <hr>
        </a>
    {% endfor %}
    <div class="row">
        <div class="col">
            <div class="pl-3">
                <p class="mt-1 font-weight-bold">
                    Total: £{{ total|floatformat:2 }}
                </p>
                <p class="mt-1">
                    <small>
                        Delivery: £{% if request.user.member.subscription_package.id == 3 %}0.00{% else %}{{ delivery|floatformat:2 }}{% endif %}
                    </small>
                </p>
                <h6 class="mt-1 font-weight-bold">
                    Grand Total: £{{ grand_total|floatformat:2 }}
                </h6>
            </div>
        </div>
    </div>
    <div class="row text-center mt-2">
        <div class="col">
            <a href="{% url 'load_checkout' %}" class="btn btn-success text-white text-dec-none">Checkout</a> 
        </div>
    </div>
{% else %}
    <p class="small mx-3 text-center">
        There's nothing in your cart at the moment.
        <hr class="mx-3">
        <a href="{% url 'shop' %}" class="btn-sm btn-primary text-dec-none mx-5">Visit Shop</a>
    </p>
{% endif %}