<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'subscribe_page' %}">Subscribe</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="shop-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <ul class="dropdown-menu bg-warning" aria-labelledby="shop-dropdown">
                <li><a class="dropdown-item" href="{% url 'shop' %}">All Products</a></li>
                <li><a class="dropdown-item" href="{% url 'shop' %}?category=clothing_apparel">Clothing and Apparel</a></li>
                <li><a class="dropdown-item" href="{% url 'shop' %}?category=meal_prep_supplements">Meal Prep and Supplements</a></li>
                <li><a class="dropdown-item" href="{% url 'shop' %}?category=accessories">Accessories</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="user-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <ul class="dropdown-menu bg-warning" aria-labelledby="user-dropdown">
                    {% if request.user.is_superuser %}
                        <li><a href="{% url 'admin_panel' %}" class="dropdown-item">Admin Panel</a></li>
                    {% endif %}
                    <li><a href="{% url 'member_profile' %}" class="dropdown-item">My Profile</a></li>
                    <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                </ul>
            </li>
        {% endif %}
    </ul>
</div>
<form action="{% url 'shop' %}" method="GET" class="d-flex">
    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search" class="validate" required>
    <button class="btn btn-outline-success" type="submit">
        <span class="icon">
            <i class="fas fa-search"></i>
        </span>
    </button>
</form>
<ul class="list-inline list-unstyled text-center text-lg-right my-0">
    {% if request.user.is_authenticated %}
        <li class="nav-item {% if grand_total %}dropdown{% endif %}">
            <a href="#" {% if grand_total %}class="nav-link text-dark dropdown-toggle" id="cart-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% else %}class="nav-link text-dark"{% endif %}>
                <i class="fas fa-shopping-cart fa-lg"></i>
                <small>
                    {% if total > 0 %}
                        £{{ total|floatformat:2 }}
                    {% else %}
                        £0.00
                    {% endif %}
                </small>
            </a>
            {% if grand_total %}
            <ul class="dropdown-menu cart-preview" aria-labelledby="cart-dropdown">
                <li>
                    {% include 'includes/cart_preview.html' %}
                </li>
            </ul>
            {% endif %}
        </li>
    {% else %}
        <li class="list-inline-item">
            <a href="{% url 'account_login' %}" class="nav-link">Login</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'account_signup' %}" class="nav-link">Register</a>
        </li>
    {% endif %}
</ul>