{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Profile</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>My Subscriptions</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for subscription in subscriptions %}
                    <span>{{ subscription.package }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}