/*-- Makes button the same height as sort selector and aligns the two components horizontally --*/
.add-item-to-store {
    line-height: 1.2rem;
    margin-top: -4px;
}

.item-specs-container a {
    color: #000000;
    text-decoration: none;
}

.item-specs-container a:hover {
    text-decoration: underline;
}