{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid mt-5 text-center">
        <div class="row">
            <div class="col-12">
                <div class="error-404-container">
                    <h1 class="error-404-message">404 error, page not found</h1>
                    <p class="mt-2">
                        <a href="{% url 'home' %}" class="btn-lg btn-dark text-dec-none">Back to homepage</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}