{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mt-5 py-3 text-center">
    <div class="row">
        <div class="col-12">
            <h3 class="my-3">Viewing Product: {{ item.friendly_name }}</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 offset-lg-3">
            <div class="image-wrapper my-5">
                {% if item.image %}
                    <a href="{{ item.image.url }}">
                        <img src="{{ item.image.url }}" alt="{{ item.friendly_name }}" class="card-img-top img-fluid">
                    </a>
                {% else %}
                    <a href="/">
                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.friendly_name }}" class="card-img-top card-img-fluid">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="item-info-container mb-3">
                <div class="row">
                    <div class="col">
                        <p class="mb-1">
                            Name: <span>{{ item.friendly_name }}</span>
                        </p>
                        <p class="mb-1 small">
                            {{ item.description }}
                        </p>
                        <p class="mb-1">
                            {% if request.user.member.subscription_package.id == 3 %}
                                <strike>£{{ item.price }}</strike> £{{ item.set_discount_price|floatformat:2 }}
                            {% else %}
                                £{{ item.price }}
                            {% endif %}
                        </p>
                        <p class="mb-1 small">
                            Rating: <span>{{ item.rating }}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="select-item-container">
                <div class="row">
                    <div class="col">
                        <form action="{% url 'add_item_to_cart' item.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                {% if item.has_sizes %}
                                    <div class="col-12">
                                        <strong>Select Size:</strong>
                                        <select name="item_size" id="id_item_size" class="w-50">
                                            <option value="xs">XS</option>
                                            <option value="s">S</option>
                                            <option value="m" selected>M</option>
                                            <option value="l">L</option>
                                            <option value="xl">XL</option>
                                        </select>
                                    </div>
                                {% endif %}
                                <div class="col-12">
                                    <p class="mt-3 small">Quantity</p>
                                    <div class="form-group w-50">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrease-qty btn" data-item_id="{{ item.id }}" id="decrease-qty_{{ item.id }}">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                            <input type="number" class="form-control qty_input" name="quantity" value="1" min="1" max="100" data-item_id="{{ item.id }}" id="id_qty_{{ item.id }}">
                                            <div class="input-group-append">
                                                <button class="increase-qty btn" data-item_id="{{ item.id }}" id="increase-qty_{{ item.id }}">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="submit" class="btn btn-dark text-dec-none" value="Add To Cart">
                                    <a href="{% url 'shop' %}" class="btn bg-white border border-dark text-dark ml-2">
                                        Continue Shopping
                                    </a>
                                </div>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                </div>
            </div>
            {% if request.user.is_superuser %}
                <div class="row py-3">
                    <div class="col-md-6 text-right">
                        <a href="{% url 'edit_item' item.id %}" class="btn-lg btn-primary text-dec-none">Update Details</a>
                    </div>
                    <div class="col-md-6 text-left">
                        {% include 'shop/includes/delete_item_modal_popup.html' %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/delete_confirmation_script.html' %}
<script type="text/javascript">
    // Increases quantity
    $('.increase-qty').click(function(e) {
        e.preventDefault();
        var closestInputElement = $(this).closest('.input-group').find('.qty_input')[0];
        var currentQuantity = parseInt($(closestInputElement).val());
        $(closestInputElement).val(currentQuantity + 1);
        var itemId = $(this).data('item_id');
    });

    // Decreases quantity
    $('.decrease-qty').click(function(e) {
        e.preventDefault();
        var closestInputElement = $(this).closest('.input-group').find('.qty_input')[0];
        var currentQuantity = parseInt($(closestInputElement).val());
        $(closestInputElement).val(currentQuantity - 1);
        var itemId = $(this).data('item_id');
    });

    // Disables +/- buttons outside the min-max range
    function disableQuantityInput(itemId) {
        var currentQuantity = parseInt($(`#id_qty_${itemId}`).val());
        var disableDecrease = currentQuantity < 2;
        var disableIncrease = currentQuantity > 98;
        $(`#decrease-qty_${itemId}`).prop('disabled', disableDecrease);
        $(`#increase-qty_${itemId}`).prop('disabled', disableIncrease);
    }

    var allQtyInputs = $('.qty_input');
    for (var i = 0; i < allQtyInputs.length; i++) {
        var itemId = $(allQtyInputs[i]).data('item_id');
        disableQuantityInput(itemId);
    }

    // Checks in real time if button should be disabled whenever user changes input
    $('qty_input').change(function() {
        var itemId = $(this).data('item_id');
        disableQuantityInput(itemId);
    });

    function hideModal(id) {
        $('#' + id).modal('hide');
        $('.modal').hide();
    }
</script>
{% endblock %}