{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mt-5 py-3 text-center">
    <div class="row">
        <div class="col-12">
            <h3 class="my-3">Viewing Product: {{ item.friendly_name }}</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 offset-lg-3">
            <div class="image-wrapper my-5">
                {% if item.image %}
                    <a href="{{ item.image.url }}">
                        <img src="{{ item.image.url }}" alt="{{ item.friendly_name }}" class="card-img-top img-fluid">
                    </a>
                {% else %}
                    <a href="/">
                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.friendly_name }}" class="card-img-top card-img-fluid">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="item-info-container mb-3">
                <div class="row">
                    <div class="col">
                        <p class="mb-1">
                            Name: <span>{{ item.friendly_name }}</span>
                        </p>
                        <p class="mb-1 small">
                            {{ item.description }}
                        </p>
                        <p class="mb-1">
                            {% if request.user.member.subscription_package.id == 3 %}
                                <strike>£{{ item.price }}</strike> £{{ item.set_discount_price|floatformat:2 }}
                            {% else %}
                                £{{ item.price }}
                            {% endif %}
                        </p>
                        <p class="mb-1 small">
                            Rating: <span>{{ item.rating }}</span>
                        </p>
                        <p class="mb-1 small">
                            Category: <span><a href="{% url 'shop' %}?category={{ item.category.name }}" class="small text-dark text-dec-none">{{ item.category.friendly_name }}</a></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="select-item-container">
                <div class="row">
                    <div class="col">
                        <form action="{% url 'add_item_to_cart' item.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                {% if item.has_sizes %}
                                    <div class="col-12">
                                        <strong>Select Size:</strong>
                                        <select name="item_size" id="id_item_size" class="w-50">
                                            <option value="xs">XS</option>
                                            <option value="s">S</option>
                                            <option value="m" selected>M</option>
                                            <option value="l">L</option>
                                            <option value="xl">XL</option>
                                        </select>
                                    </div>
                                {% endif %}
                                <div class="col-12">
                                    <p class="mt-3 small">Quantity</p>
                                    <div class="form-group w-50">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrease-qty btn" data-item_id="{{ item.id }}" id="decrease-qty_{{ item.id }}">
                                                    <i class="fas fa-minus" data-bs-toggle="tooltip" title="Decrease Quantity"></i>
                                                    <span class="sr-only">Decrease Quantity</span>
                                                </button>
                                            </div>
                                            <input type="number" class="form-control qty_input" name="quantity" value="1" min="1" max="100" data-item_id="{{ item.id }}" id="id_qty_{{ item.id }}">
                                            <div class="input-group-append">
                                                <button class="increase-qty btn" data-item_id="{{ item.id }}" id="increase-qty_{{ item.id }}">
                                                    <i class="fas fa-plus" data-bs-toggle="tooltip" title="Increase Quantity"></i>
                                                    <span class="sr-only">Increase Quantity</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="submit" class="btn btn-dark text-dec-none" value="Add To Cart">
                                    <a href="{% url 'shop' %}" class="btn bg-white border border-dark text-dark ml-2">
                                        Continue Shopping
                                    </a>
                                </div>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                </div>
            </div>
            {% if request.user.is_superuser %}
            <div class="admin-actions-container my-5">
                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'edit_item' item.id %}" class="btn btn-primary text-dec-none mr-2">Update Details</a>
                        <button type="button" id="modal-trigger-{{ item.id }}" class="btn btn-danger text-dec-none" data-toggle="modal" data-target="#{{ item.id }}">
                            Delete
                        </button>
                        {% include 'shop/includes/delete_item_modal_popup.html' %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/adjust_quantity_script.html' %}
{% include 'shop/includes/delete_confirmation_script.html' %}
{% endblock %}