{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <select class="custom-select-sm" id="sort-products">
                    <option value="reset" {% if sort_by == 'None_None' %}selected{% endif %}>
                        Sort by...
                    </option>
                    <option value="name_asc" {% if sort_by == 'name_asc' %}selected{% endif %}>
                        Name (A-Z)
                    </option>
                    <option value="name_desc" {% if sort_by == 'name_desc' %}selected{% endif %}>
                        Name (Z-A)
                    </option>
                    <option value="price_asc" {% if sort_by == 'price_asc' %}selected{% endif %}>
                        Price (low to high)
                    </option>
                    <option value="price_desc" {% if sort_by == 'price_desc' %}selected{% endif %}>
                        Price (low to high)
                    </option>
                    <option value="rating_asc" {% if sort_by == 'rating_asc' %}selected{% endif %}>
                        Rating (low to high)
                    </option>
                    <option value="rating_desc" {% if sort_by == 'rating_Desc' %}selected{% endif %}>
                        Price (low to high)
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            {% for item in shop_items %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if item.image %}
                            <img src="{{ item.image.url }}" alt="{{ item.friendly_name }}" class="img-thumbnail">
                        {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}" class="img-thumbnail">
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ item.name }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">£{{ item.price }}</p>
                                    <a href="{% url 'shop' %}?category={{ item.category.name }}">
                                        {{ item.category.friendly_name }}
                                    </a>
                                    {% if item.rating %}
                                        <small>Rating: {{ item.rating }} / 5</small>
                                    {% else %}
                                        <small>No rating yet</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript">
        // enables product sorting. Credit to Boutique Ado project for this code
        $('#sort-products').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val()
            if (selectedVal != "reset") {
                var sort = selectedVal.split("_")[0] // "price etc."
                var direction = selectedVal.split("_")[1]; // "asc" or "desc"

                currentUrl.searchParams.set("sort", sort); // sort=price
                currentUrl.searchParams.set("direction", direction); //direction=asc

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });
    </script>
{% endblock %}