{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid mt-5 text-center">
        <div class="row">
            <div class="col-12">
                <h1>
                    All Products
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid sorting-container">
        <div class="row mt-3 px-3 text-center text-left-sm">
            <div class="col-12">
                <select class="custom-select-sm btn-sm border-black" id="sort-products">
                    <option value="reset" {% if sort_by == 'None_None' %}selected{% endif %}>
                        Sort by...
                    </option>
                    <option value="name_asc" {% if sort_by == 'name_asc' %}selected{% endif %}>
                        Name (A-Z)
                    </option>
                    <option value="name_desc" {% if sort_by == 'name_desc' %}selected{% endif %}>
                        Name (Z-A)
                    </option>
                    <option value="price_asc" {% if sort_by == 'price_asc' %}selected{% endif %}>
                        Price (low to high)
                    </option>
                    <option value="price_desc" {% if sort_by == 'price_desc' %}selected{% endif %}>
                        Price (high to low)
                    </option>
                    <option value="rating_asc" {% if sort_by == 'rating_asc' %}selected{% endif %}>
                        Rating (low to high)
                    </option>
                    <option value="rating_desc" {% if sort_by == 'rating_Desc' %}selected{% endif %}>
                        Rating (high to low)
                    </option>
                </select>
                {% if request.user.is_superuser %}
                    <p class="mt-3 mt-sm-0 d-sm-inline-block">
                        <a href="{% url 'add_item' %}" class="btn-lg btn-success">
                            <span>Add Item</span>
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid px-5 my-3">
        <div class="row">
            {% for item in shop_items %}
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="h-100 p-2">
                        {% if item.image %}
                            <a href="{% url 'item_info' item.id %}">
                                <img src="{{ item.image.url }}" alt="{{ item.friendly_name }}" class="img-thumbnail">
                            </a>
                        {% else %}
                            <a href="{% url 'item_info' item.id %}">
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.friendly_name }}" class="img-thumbnail">
                            </a>
                        {% endif %}
                        <div class="pt-3 font-weight-bold">
                            <p class="mb-0">{{ item.friendly_name }}</p>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="lead mb-0 text-left">£{{ item.price }}</p>
                                <p class="mb-0">Category:
                                    <a href="{% url 'shop' %}?category={{ item.category.name }}">
                                        <span>{{ item.category.friendly_name }}</span>
                                    </a>
                                </p>
                                <p class="mb-0">Rating: 
                                    {% if item.rating %}
                                        <small>{{ item.rating }} / 5</small>
                                    {% else %}
                                        <small>No rating yet</small>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        {% if request.user.is_superuser %}
                            <div class="text-center">
                                <a href="{% url 'edit_item' item.id %}" class="btn btn-info">
                                    <span>
                                        Edit Details
                                    </span>
                                </a>
                                <a href="{% url 'delete_item' item.id %}" class="btn btn-danger">
                                    <span>Delete Item</span>
                                </a>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col">
                                <form action="{% url 'add_item' item.id %}" class="form text-center" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-black" value="Add To Cart">
                                </form>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript">
        // enables product sorting. Credit to Boutique Ado project for this code
        $('#sort-products').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val()
            if (selectedVal != "reset") {
                var sort = selectedVal.split("_")[0] // "price etc."
                var direction = selectedVal.split("_")[1]; // "asc" or "desc"

                currentUrl.searchParams.set("sort", sort); // sort=price
                currentUrl.searchParams.set("direction", direction); //direction=asc

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });
    </script>
{% endblock %}