{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 text-center">
        <div class="row">
            <div class="col-12">
                <h1 class="my-3">
                    Shop
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid sorting-container">
        <div class="row mt-3 px-3 text-center text-left-sm">
            <div class="col-12">
                <select class="custom-select-sm btn-sm border-black" id="sort-products">
                    <option value="reset" {% if sort_by == 'None_None' %}selected{% endif %}>
                        Sort by...
                    </option>
                    <option value="name_asc" {% if sort_by == 'name_asc' %}selected{% endif %}>
                        Name (A-Z)
                    </option>
                    <option value="name_desc" {% if sort_by == 'name_desc' %}selected{% endif %}>
                        Name (Z-A)
                    </option>
                    <option value="price_asc" {% if sort_by == 'price_asc' %}selected{% endif %}>
                        Price (low to high)
                    </option>
                    <option value="price_desc" {% if sort_by == 'price_desc' %}selected{% endif %}>
                        Price (high to low)
                    </option>
                    <option value="rating_asc" {% if sort_by == 'rating_asc' %}selected{% endif %}>
                        Rating (low to high)
                    </option>
                    <option value="rating_desc" {% if sort_by == 'rating_Desc' %}selected{% endif %}>
                        Rating (high to low)
                    </option>
                </select>
                {% if request.user.is_superuser %}
                    <p class="mt-3 mt-sm-0 d-sm-inline-block">
                        <a href="{% url 'add_item' %}" class="btn btn-success text-dec-none add-item-to-store">
                            <span>Add Item</span>
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid text-center px-5 my-3">
        <div class="row">
            <div class="col-12">
                {% if search_term %}
                    {% if shop_items|length == 0 %}
                        <h4 class="mb-5">No items found for "{{ search_term }}".</h4>
                        <a href="{% url 'shop' %}" class="btn-sm btn btn-primary text-dec-none">View All Products</a>
                    {% else %}
                        <h4 class="mb-5">All items in the store containing "{{ search_term }}". {{ shop_items|length }} found.</h4>
                    {% endif %}
                {% else %}
                    {% if categories %}
                        <h4 class="mb-5">All items in the category {{ queried_category }}. {{ shop_items|length }} found.</h4>
                    {% else %}
                        <h4 class="mb-5">All items in the store. {{ shop_items|length }} found.</h4>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% for item in shop_items %}
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="item-specs-container h-100 p-2">
                        <div class="image-container">
                            {% if item.image %}
                                <a href="{% url 'item_info' item.id %}">
                                    <img src="{{ item.image.url }}" alt="{{ item.friendly_name }}" class="img-thumbnail">
                                </a>
                            {% else %}
                                <a href="{% url 'item_info' item.id %}">
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.friendly_name }}" class="img-thumbnail">
                                </a>
                            {% endif %}
                        </div>
                        <div class="pt-3 font-weight-bold">
                            <p class="mb-0">{{ item.friendly_name }}</p>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="lead mb-0">
                                    {% if request.user.member.subscription_package.id == 3 %}
                                        <del>£{{ item.price }}</del> £{{ item.set_discount_price|floatformat:2 }}
                                    {% else %}
                                        £{{ item.price }}
                                    {% endif %}
                                </p>
                                <p class="mb-0">Category:
                                    <a href="{% url 'shop' %}?category={{ item.category.name }}">
                                        <small class="font-weight-bold">{{ item.category.friendly_name }}</small>
                                    </a>
                                </p>
                                <p class="mb-0">Rating: 
                                    {% if item.rating %}
                                        <small>{{ item.rating }} / 5</small>
                                    {% else %}
                                        <small>No rating yet</small>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <form action="{% url 'add_item_to_cart' item.id %}" class="form" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" id="modal-add-{{ item.id }}" class="btn btn-dark text-dec-none mt-2" data-toggle="modal" data-target="#add-{{ item.id }}">
                                                <i class="fas fa-cart-plus" data-bs-toggle="tooltip" title="Add {{ item.friendly_name }} to cart"></i>
                                                <span class="sr-only">Add To Cart</span>
                                            </button>
                                            {% include 'shop/includes/add_to_cart_modal_popup.html' %}
                                        </div>
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </form>
                            </div>
                        </div>
                        {% if request.user.is_superuser %}
                            <div class="text-center py-3">
                                <a href="{% url 'edit_item' item.id %}" class="btn btn-primary mr-1">
                                    <span class="text-white">
                                        Edit Details
                                    </span>
                                </a>
                                <button type="button" id="modal-trigger-{{ item.id }}" class="btn btn-danger text-dec-none" data-toggle="modal" data-target="#{{ item.id }}">
                                    Delete
                                </button>
                                {% include 'shop/includes/delete_item_modal_popup.html' %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/adjust_quantity_script.html' %}
{% if request.user.is_superuser %}
    {% for item in shop_items %}
        {% include 'shop/includes/delete_confirmation_script.html' %}
    {% endfor %}
{% endif %}
<script type="text/javascript">
    // Enables product sorting. Credit to Chris Z. (ckz8780) for supplying the basis for this logic in Boutique Ado
    $('#sort-products').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    });
</script>
{% endblock %}