<div class="modal fade" id="{{ request.user.member.subscription_package }}" tabindex="-1" role="dialog" aria-labelledby="{{ request.user.member.subscription_package }}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ request.user.member.subscription_package }}Label">
                    Cancel Subscription to {{ request.user.member.subscription_package.friendly_name }}
                </h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-2">
                    Are you sure you want to cancel your subscription to our {{ request.user.member.subscription_package.friendly_name }}? 
                </p>
                <p class="mb-0">
                    <strong class="text-danger uppercase">You will not be able to reverse this action. You will have to purchase another subscription if you want access to our materials again.</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-lg btn-light text-dark cancel" data-dismiss="modal" aria-label="Close">
                    Back
                </button>
                <a href="{% url 'cancel_subscription' user.id %}" class="btn-lg btn-danger text-dec-none confrm-delete">
                    Cancel Subscription
                </a>
            </div>
        </div>
    </div>
</div>