{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container text-center">
        <div class="row mt-5 pt-5">
            <div class="col-12">
                <h1>Edit Comment from {{ comment.created_on }}</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form action="{% url 'update_comment' video.id comment.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <a href="{% url 'video_details' video.id %}" class="btn-primary btn-lg text-dec-none">Cancel</a>
                        </div>
                        <div class="col-md-6 text-left">
                            <button type="submit" class="btn-success btn-lg text-dec-none">Update Comment</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}