{% extends 'base.html' %}
{% load static %}

{% block extra_title %}&#8212;Edit Comment{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row mt-5 pt-5">
            <div class="col-12">
                <h1>Edit Comment from {{ comment.created_on }}</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-1 col-sm-2 col-lg-3"></div>
            <div class="col-10 col-sm-8 col-lg-6">
                <form action="{% url 'update_comment' video.id comment.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <div class="text-right">
                        <a href="{% url 'video_details' video.id %}" class="btn bg-white border-dark">Cancel</a>
                        <button type="submit" class="btn btn-primary text-dec-none">Update Comment</button>
                    </div>
                </form>
            </div>
            <div class="col-1 col-sm-2 col-lg-3"></div>
        </div>
    </div>
{% endblock %}