{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'videos/css/videos.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 text-center">
        <div class="row">
            <div class="col-12">
                <h1 class="my-3">{{ video.title }}</h1>
            </div>
        </div>
    </div>
    <div class="container px-3 mt-3">
        <div class="row">
            {% if request.user.member.subscription_package %}
                <div class="col-12 col-md-6">
                    <div class="video-container">
                        <video src="{{ video.video_file.url }}" alt="{{ video.title }}" class="img-thumbnail" controls preload type="video/mp4"></video>
                    </div>
                    <div class="row">
                        <div class="col text-left">
                            <p class="small mb-0">
                                Category: {% if video.premium %}Premium{% else %}Basic{% endif %}
                            </p>
                        </div>
                        <div class="col text-right">
                            <p class="small mb-0">
                                Duration: {{ video.length }}
                            </p>
                        </div>
                    </div>
                    <div class="row mb-0 text-left">
                        <div class="col-12">
                            <span class="mb-0 small text-muted">Rating: {% include 'videos/includes/video_rating.html' %}</span>
                            <p>{{ video.description }}</p>
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                        <p">
                            <a href="{% url 'edit_video' video.id %}" class="btn btn-primary text-dec-none">Edit</a>
                            <button type="button" id="modal-trigger-video-{{ video.id }}" class="btn btn-danger text-dec-none" data-toggle="modal" data-target="#video-{{ video.id }}">
                                Delete
                            </button>
                            {% include 'videos/includes/delete_video_modal_popup.html' %}
                        </p>
                    {% endif %}
                    <!-- <p>
                        {{ video.average_rating|floatformat:2 }}
                    </p> -->
                </div>
                <div class="col-12 col-md-6">
                    {% include 'videos/includes/video_comments_section.html' %}
                </div>
            {% else %}
                <div class="col-12">
                    <h5>You are not authorised to view this page.</h5>
                </div>
            {% endif %}
        </div>
        <div class="row text-center pt-5 mt-5">
            <div class="col-12">
                <a href="{% url 'training_videos' %}" class="btn-lg btn-dark text-dec-none">Back to all videos</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'videos/js/video_rating.js' %}"></script>
    {% include 'videos/includes/delete_confirmation_script.html' %}
    <script type="text/javascript">
        // enables video sorting. Credit to Boutique Ado project that provides the basis for this logic
        $('#sort-videos').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if (selectedVal != "reset") {
                var sort = selectedVal.split("_")[0]; // "price etc."
                var direction = selectedVal.split("_")[1]; // "asc" or "desc"

                currentUrl.searchParams.set("sort", sort); // sort=price
                currentUrl.searchParams.set("direction", direction); //direction=asc

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });

        // Offers autocomplete suggestions for search bar on input of first 2 chars
        $(function() {
            $('#videos-search').autocomplete({
                source: "{% url 'videos_autocomplete' %}",
                minLength: 2,
            });
        });

        $('textarea').attr('rows', '5');
    </script>
{% endblock %}