{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'videos/css/videos.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 text-center">
        <div class="row">
            <div class="col-12">
                <h1 class="my-3">Videos</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid sorting-container">
        <div class="row mt-3 px-3 text-center">
            <div class="col-12">
                <select class="custom-select-sm btn-sm border-black" id="sort-videos">
                    <option value="reset" {% if sort_by == 'None_None' %}selected{% endif %}>
                        Sort by...
                    </option>
                    <option value="title_asc" {% if sort_by == 'title_asc' %}selected{% endif %}>
                        Title (A-Z)
                    </option>
                    <option value="title_desc" {% if sort_by == 'title_desc' %}selected{% endif %}>
                        Title (Z-A)
                    </option>
                    <option value="rating_asc" {% if sort_by == 'rating_asc' %}selected{% endif %}>
                        Rating (low to high)
                    </option>
                    <option value="rating_desc" {% if sort_by == 'rating_Desc' %}selected{% endif %}>
                        Rating (high to low)
                    </option>
                    <option value="length_asc" {% if sort_by == 'length_asc' %}selected{% endif %}>
                        Length (short to long)
                    </option>
                    <option value="length_desc" {% if sort_by == 'length_desc' %}selected{% endif %}>
                        Length (long to short)
                    </option>
                </select>
                {% if request.user.is_superuser %}
                    <p class="mt-3 mt-sm-0 d-sm-inline-block">
                        <a href="{% url 'add_video' %}" class="btn btn-success text-dec-none add-video">Add Video</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container search-container mt-3">
        <div class="row px-3 text-center text-left-sm">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form action="{% url 'training_videos' %}" method="GET" class="d-flex">
                    <label for="videos-search"></label>
                    <input class="form-control me-2 search-bar" id="videos-search" type="search" name="q" placeholder="Search videos" aria-label="Search" class="validate" required>
                    <button class="btn btn-outline-success border-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <div class="container-fluid text-center px-5 my-3">
        <div class="row">
            <div class="col-12">
                {% if search_term %}
                    {% if videos|length == 0 %}
                        <h4 class="mb-5">No videos found containing "{{ search_term }}"</h4>
                        <a href="{% url 'training_videos' %}" class="btn-lg btn-primary text-dec-none">View All Videos</a>
                    {% else %}
                        <h4 class="mb-5">
                            {{ videos|length }} video{% if videos|length != 1 %}s{% endif %} found containing "{{ search_term }}". 
                            <a href="{% url 'training_videos' %}" class="text-dark text-dec-none">View all videos.</a>
                        </h4>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% if request.user.member.subscription_package %}
                {% for video in videos %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <h5 class="font-weight-bold px-2">
                            <a href="{% url 'video_details' video.id %}" class="text-dark text-dec-none">{{ video.title }}</a>
                        </h5>
                        <div class="video-container">
                            <video src="{{ video.video_file.url }}" alt="{{ video.title }}" class="img-thumbnail" controls preload type="video/mp4">
                            </video>
                        </div>
                        <div class="row">
                            <div class="col text-left">
                                <p class="small mb-0">
                                    Category: {% if video.premium %}Premium{% else %}Basic{% endif %}
                                </p>
                            </div>
                            <div class="col text-right">
                                <p class="small mb-0">
                                    Duration: {{ video.length }}
                                </p>
                            </div>
                        </div>
                        <div class="row mb-0 text-left">
                            <div class="col-12">
                                <span class="mb-0 small text-muted">Rating: {% include 'videos/includes/video_rating.html' %}</span>
                                <p class="small mb-{% if request.user.is_superuser %}0{% else %}5{% endif %}">{{ video.description }}</p>
                            </div>
                        </div>
                       {% if request.user.is_superuser %}
                            <div class="row mb-5 mt-2">
                                <div class="col-12">
                                    <a href="{% url 'edit_video' video.id %}" class="btn-primary btn text-dec-none">Edit</a>
                                    <button type="button" id="modal-trigger-video-{{ video.id }}" class="btn btn-danger text-dec-none" data-toggle="modal" data-target="#video-{{ video.id }}">
                                        Delete
                                    </button>
                                    {% include 'videos/includes/delete_video_modal_popup.html' %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12">
                    <h5>You are not authorised to view this page.</h5>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'videos/js/video_rating.js' %}"></script>
    {% include 'videos/includes/delete_confirmation_script.html' %}
    <script type="text/javascript">
        // Enables video sorting. Credit to Chris Z. (ckz8780) for supplying the basis for this logic in Boutique Ado
        $('#sort-videos').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if (selectedVal != "reset") {
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort); // sort=price
                currentUrl.searchParams.set("direction", direction); //direction=asc

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });

        // Offers autocomplete suggestions for search bar on input of first 2 chars
        $(function() {
            $('#videos-search').autocomplete({
                source: "{% url 'videos_autocomplete' %}",
                minLength: 2,
            });
        });
    </script>
{% endblock %}